# Python bytecode:
*.py[co]

# Coverage
.coverage
**/htmlcov

# Packaging files:

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Migrations
**/migrations/*.pyc

# Logs:
*.log

# Eclipse
.project
.pydevproject
.settings

# PyCharm
/.idea

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

