{% extends "base.html" %}
{% block content %}

	{% if league %}
		<h1>{{ league.name }}</h1>
    {% if league_teams %}
    <ul>
      {% for team in league_teams %}
      <li>{{ team.city }} {{ team.nickname }}</li>
      {% endfor %}
    </ul>
    {% endif %}
		{% if years %}
		<ul>
			{% for year in years %}
        {% url 'leagues.views.show_standings' league.id year as standings_link %}
				{% ifchanged year %}<li>{{ year }} - <a href="{{ standings_link }}">Standings</a></li>{% endifchanged %}
			{% endfor %}
		</ul>
		{% endif %}	
	{% endif %}
	
{% endblock %}