{% extends "base.html" %}

{% block content %}

	{% if league.name and year %}
		<h1>{{ league.name }} - {{ year }}</h1>
	{% endif %}

	{% if standings %}
		<div id="standings_display">
      <h2>Standings</h2>
			{% for conference in standings %}
				{% for division in conference %}
					<table class="standings">
						<thead>
							<tr>
								<th></th>
								<th>W</th>
								<th>L</th>
								<th>T</th>
								<th>Pct.</th>
							</tr>
						</thead>
						<tbody>
							{% for team_stat in division %}
							<tr>
                {% url 'teams.views.show_team_detail' team_stat.team_id.0 team_stat.year as team_detail %}
								<td><a href="{{ team_detail }}">{{ team_stat.team }}</a></td>
								<td>{{ team_stat.wins }}</td>
								<td>{{ team_stat.losses }}</td>
								<td>{{ team_stat.ties }}</td>
								<td>{{ team_stat.pct|floatformat:3 }}</td>
							</tr>
							{% endfor %}
						</tbody>
						
					</table>
				{% endfor %}
			{% endfor %}
		</div>
	
		<div id="schedule_display">
      <h2>Schedule</h2>
      {% for week, games in schedule.items %}
        <h3 class="week">Week {{ week }}</h3>
  			{% for game in games %}
          <div class="game">
            <div class="game_standings_box">
        			<table class="game_display">
      				{% for team in game.teams %}
        				<tr>
                  <td class="box_team">{{ team.team }}</td>
        					{% for stat in team.period_scores %}
        						<td class="box_stat">{{ stat }}</td>
        					{% endfor %}
                  <td class="box_final">{{ team.final }}</td>
        				</tr>
      				{% endfor %}	
        			</table>
            </div>
            <div class="action">
              {% if next_game_id == game.id %}
                <p id="action_indicator">Play
                  <a href="{% url 'leagues.views.play_league_game' game.id %}">Game</a> | 
                  <a href="{% url 'leagues.views.play_league_week' league.id  week %}">Week</a> | 
                  <a href="{% url 'leagues.views.play_league_remaining' league.id %}">Remaining</a> | 
                </p>
              {% elif game.teams.0.period_scores %}
                {% url 'stats.views.game_stats' game.id as game_stats %}
                <a href="{{ game_stats }}">Show Stats</a>
              {% endif %}
            </div>
          </div>
  			{% endfor %}
      {% endfor %}
		</div>
	
	{% else %}
		<p>No standings for this league.</p>
	{% endif %}

{% endblock %}
				
					